.background--darkblue {
    background-color: $darkblue;
}

.background--lightblue {
    background-color: $lightblue;
}

.background--red {
    background-color: $red;
}

.background--orange {
    background-color: $orange;
}

.background--green {
    background-color: $green;
}