.bookcover {
    position: absolute;
    width: 28vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.message__book {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
    svg {
        fill: $white;
        width: 50vw;
    }
    p {
        position: absolute;
        width: 40vw;
        text-align: center;
        left: 50%;
        top: 50%;
        font-size: 3vw;
        transform: translate(-50%,-75%);
    }
}