// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button__small {
    display: inline-block;
    width: 7.5vw;
    fill: $white;
    z-index: 9999;
    .button__arrow {
        width: 25%;
        fill: $red;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.button__arrow--left {
    svg {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
}

.button__arrow--right {
    svg {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
    }
}

.button__small--left {
    position: absolute;
    left: 5%;
    top: 46.25%; 
}

.button__small--right {
    position: absolute;
    right: 5%;
    top: 46.25%; 
}

.button__top--1 {
    position: absolute;
    left: 4%;
    top: 4%;
}

.button__top--2 {
    position: absolute;
    left: 28%;
    top: 4%;
}

.button__top--3 {
    position: absolute;
    left: 52%;
    top: 4%;
}

.button__top--4 {
    position: absolute;
    left: 76%;
    top: 4%;
}

.button__bottom--1 {
    position: absolute;
    left: 4%;
    bottom: 4%;
}

.button__bottom--2 {
    position: absolute;
    left: 28%;
    bottom: 4%;
}

.button__bottom--3 {
    position: absolute;
    left: 52%;
    bottom: 4%;
}

.button__bottom--4 {
    position: absolute;
    left: 76%;
    bottom: 4%;
}

.button {
    display: inline-block;
    width: 20%;
   .button__placeholder {
        font-size: 3vw;
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        top: 47.5%;
        transform: translate(-50%, -50%);
        p {
            margin: 0;
        }
   }
}

.button--white {
    color: $red;
    fill: $white;
}

.button--white:active {
    color:$white;
    fill: $red;
}

.button--white:focus {
    color:$white;
    fill: $red;
}

.button--red {
    color: $white;
    fill: $red;
}

.button--red:active {
    color:$red;
    fill: $white;
}

.button--red:focus {
    color:$red;
    fill: $white;
}

.desk {
    svg {
        z-index: 9999;
        position: relative;
    }
}

.student__left {
    svg {
        width: 45%;
        position: absolute;
        z-index: 1;
        left: 30%;
        top: -100%;
        transform: translate(-50%, -50%);
    }
}

.student__right {
    svg {
        width: 45%;
        position: absolute;
        z-index: 1;
        left: 70%;
        top: -100%;
        transform: translate(-50%, -50%);
    }
}

.placeholder__selector {
    width: 23vw;
    position: relative;
    left: 50%;
    top: 10%;
    z-index: 9998;
    transform: translate(-50%);
    svg {
        fill: $white;
    }
    p {
        color: $red;
        position: absolute;
        width: 100%;
        z-index: 9999;
        text-align: center;
        left: 50%;
        top: -40%;
        font-size: 3vw;
        transform: translate(-50%);
    }
}

.book__yes {
        position: absolute;
        left: 15%;
        top: 80%;
        transform: translate(-50%, -50%);
    p {
        font-size: 3vw;
        width: 7.5vw; 
        transform: translate(-37.5%, -0%);
        margin: 0;
        text-align: center;
    }
}

.book__no {
        position: absolute;
        left: 85%;
        top: 80%;
        transform: translate(-50%, -50%);
    p {
        font-size: 3vw;
        width: 7.5vw; 
        transform: translate(-37.5%, -0%);
        margin: 0;
        text-align: center;
    }
}

.button__bottom--3-1 {
    position: absolute;
    left: 5%;
    bottom: 30%;
    width: 30%;
}

.button__bottom--3-2 {
    position: absolute;
    left: 35%;
    bottom: 30%;
    width: 30%;
}

.button__bottom--3-3 {
    position: absolute;
    left: 65%;
    bottom: 30%;
    width: 30%;
}