.message__top {
    width: 55vw;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    svg {
        fill: $white;
    }
    p {
        color: $red;
        position: absolute;
        width: 100%;
        text-align: center;
        left: 50%;
        top: -15%;
        font-size: 3vw;
        transform: translate(-50%);
    }
}