.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    width: 70vw;
}
.title_overview {
    width: 30vw;
    display: block;
    margin: 0 20vw;
}
.center a img {
    float: left;
    width: 30vw;
    margin: 1rem 2vw;
}
a .button {
    width: 20vw;
    margin: 3vmax;
    float: left;
}