.avatar__swiper {
    width: 70%;
    height: 40vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    color: $white;
    .swiper-slide {
        position: relative;
        .avatar {
            width: 100vw;
            height: 40vw;
            overflow: hidden;
            background-color: $red;
            img {
                width: 40%;
                position: absolute;
                left: 50%;
                top: 40%;
                transform: translate(-50%, -50%);
            }
        }
        svg {
            width: 40%;
            fill: $white;
            position: absolute;
            left: 50%;
            top: 38%;
            transform: translate(-50%, 150%);
        }
        p {
            position: absolute;
            left: 50%;
            top: 42.5%;
            transform: translate(-50%, 220%);
            color: $red;
            font-size: 3vw;
            text-transform: uppercase;
        }
    }
}

.swiper-pagination {
    position: absolute;
    left: 50%;
    top: 75%;
    height: 3vw;
    transform: translate(-50%, -50%);
    .swiper-pagination-bullet {
        height: 2vw;
        width: 2vw;
        margin: .5vw;
    }
    .swiper-pagination-bullet-active{
        background: $white;
        height: 3vw;
        width: 3vw;
        margin: 0vw .5vw 0 .5vw;
    }
}

.animation_container {
    position: absolute;
    width: 40vw;
    height: 40vw;
    left: 15vw;
    top: -2vw;
    -webkit-animation: clockwiseSpin 8s infinite linear;
    -moz-animation: clockwiseSpin 8s infinite linear;
    -ms-animation: clockwiseSpin 8s infinite linear;
    -o-animation: clockwiseSpin 8s infinite linear;
}

.circle1 {
    width: 5vw;
    position:absolute;
    left: 7.5vw;
    top: 7.5vw;
    -webkit-animation: clockwiseSpin 2s infinite ease;
    -moz-animation: clockwiseSpin 2s infinite linear;
    -ms-animation: clockwiseSpin 2s infinite linear;
    -o-animation: clockwiseSpin 2s infinite linear;
}
.circle2 {
    width: 5vw;
    position:absolute;
    left: 18vw;
    top: 4vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle3 {
    width: 7vw;
    position:absolute;
    right: 7.5vw;
    top: 7.5vw;
    -webkit-animation: clockwiseSpin 5s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle4 {
    width: 5vw;
    position:absolute;
    right: 4vw;
    bottom: 18vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle5 {
    width: 6vw;
    position:absolute;
    right: 7.5vw;
    bottom: 7.5vw;
    -webkit-animation: clockwiseSpin 3s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle6 {
    width: 4vw;
    position:absolute;
    left: 18vw;
    bottom: 4vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle7 {
    width: 6vw;
    position:absolute;
    left: 7.5vw;
    bottom: 7.5vw;
    -webkit-animation: clockwiseSpin 6s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle8 {
    width: 5vw;
    position:absolute;
    left: 4vw;
    bottom: 18vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}

.circle1-leaf {
    width: 5vw;
    position:absolute;
    left: 7.5vw;
    top: 7.5vw;
    -webkit-animation: clockwiseSpin 2s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle2-leaf {
    width: 5vw;
    position:absolute;
    left: 18vw;
    top: 4vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle3-leaf {
    width: 4vw;
    position:absolute;
    right: 7.5vw;
    top: 7.5vw;
    -webkit-animation: clockwiseSpin 5s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle4-leaf {
    width: 5vw;
    position:absolute;
    right: 4vw;
    bottom: 18vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle5-leaf {
    width: 6vw;
    position:absolute;
    right: 7.5vw;
    bottom: 7.5vw;
    -webkit-animation: clockwiseSpin 3s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle6-leaf {
    width: 4vw;
    position:absolute;
    left: 18vw;
    bottom: 4vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle7-leaf {
    width: 6vw;
    position:absolute;
    left: 7.5vw;
    bottom: 7.5vw;
    -webkit-animation: clockwiseSpin 6s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle8-leaf {
    width: 5vw;
    position:absolute;
    left: 4vw;
    bottom: 18vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}

.circle1-cuffs {
    width: 12vw;
    position:absolute;
    left: 4vw;
    top: 7vw;
    -webkit-animation: clockwiseSpin 2s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle2-cuffs {
    width: 6vw;
    position:absolute;
    left: 17vw;
    top: 5vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle3-cuffs {
    width: 12vw;
    position:absolute;
    right: 4vw;
    top: 7vw;
    -webkit-animation: clockwiseSpin 5s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle4-cuffs {
    width: 13vw;
    position:absolute;
    right: 0vw;
    bottom: 15vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle5-cuffs {
    width: 12vw;
    position:absolute;
    right: 4vw;
    bottom: 7vw;
    -webkit-animation: clockwiseSpin 3s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle6-cuffs {
    width: 6vw;
    position:absolute;
    left: 17vw;
    bottom: 5vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle7-cuffs {
    width: 12vw;
    position:absolute;
    left: 4vw;
    bottom: 7vw;
    -webkit-animation: clockwiseSpin 6s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle8-cuffs {
    width: 14vw;
    position:absolute;
    left: 0vw;
    bottom: 15vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}

.circle1-flower {
    width: 12vw;
    position:absolute;
    left: 4vw;
    top: 7vw;
    -webkit-animation: clockwiseSpin 2s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle2-flower {
    width: 14vw;
    position:absolute;
    left: 13vw;
    top: 2vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle3-flower {
    width: 12vw;
    position:absolute;
    right: 4vw;
    top: 7vw;
    -webkit-animation: clockwiseSpin 5s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle4-flower {
    width: 13vw;
    position:absolute;
    right: 0vw;
    bottom: 15vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle5-flower {
    width: 12vw;
    position:absolute;
    right: 4vw;
    bottom: 7vw;
    -webkit-animation: clockwiseSpin 3s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle6-flower {
    width: 14vw;
    position:absolute;
    left: 13vw;
    bottom: 0vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle7-flower {
    width: 12vw;
    position:absolute;
    left: 4vw;
    bottom: 7vw;
    -webkit-animation: clockwiseSpin 6s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle8-flower {
    width: 14vw;
    position:absolute;
    left: 0vw;
    bottom: 15vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}

.circle1-sport {
    width: 5vw;
    position:absolute;
    left: 7.5vw;
    top: 7.5vw;
    -webkit-animation: clockwiseSpin 2s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle2-sport {
    width: 6vw;
    position:absolute;
    left: 16.5vw;
    top: 4vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle3-sport {
    width: 7vw;
    position:absolute;
    right: 7.5vw;
    top: 7.5vw;
    -webkit-animation: clockwiseSpin 5s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle4-sport {
    width: 5vw;
    position:absolute;
    right: 4vw;
    bottom: 18vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle5-sport {
    width: 6vw;
    position:absolute;
    right: 7.5vw;
    bottom: 7.5vw;
    -webkit-animation: clockwiseSpin 3s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle6-sport {
    width: 6vw;
    position:absolute;
    left: 16.5vw;
    bottom: 4vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle7-sport {
    width: 6vw;
    position:absolute;
    left: 7.5vw;
    bottom: 7.5vw;
    -webkit-animation: clockwiseSpin 6s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle8-sport {
    width: 5vw;
    position:absolute;
    left: 4vw;
    bottom: 18vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}

.circle1-war {
    width: 5vw;
    position:absolute;
    left: 7.5vw;
    top: 7.5vw;
    -webkit-animation: clockwiseSpin 2s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle2-war {
    width: 6vw;
    position:absolute;
    left: 16.5vw;
    top: 4vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle3-war {
    width: 8vw;
    position:absolute;
    right: 7.5vw;
    top: 7.5vw;
    -webkit-animation: clockwiseSpin 5s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle4-war {
    width: 5vw;
    position:absolute;
    right: 4vw;
    bottom: 18vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle5-war {
    width: 6vw;
    position:absolute;
    right: 7.5vw;
    bottom: 7.5vw;
    -webkit-animation: clockwiseSpin 3s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle6-war {
    width: 6vw;
    position:absolute;
    left: 16.5vw;
    bottom: 4vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}
.circle7-war {
    width: 6vw;
    position:absolute;
    left: 7.5vw;
    bottom: 7.5vw;
    -webkit-animation: clockwiseSpin 6s infinite ease;
    -webkit-backface-visibility: hidden;
}
.circle8-war {
    width: 8vw;
    position:absolute;
    left: 4vw;
    bottom: 18vw;
    -webkit-animation: clockwiseSpin 2s infinite linear;
    -webkit-backface-visibility: hidden;
}


@-webkit-keyframes clockwiseSpin {
    0% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);}
}






