.avatar__swiper {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    color: $white;
    .swiper-slide {
        position: relative;
        .avatar {
            width: 100vw;
            height: 40vw;
            overflow: hidden;
            background-color: $red;
            img {
                width: 50%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        svg {
            width: 50%;
            fill: $white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, 150%);
        }
        p {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, 220%);
            color: $red;
            font-size: 3vw;
            text-transform: uppercase;
        }
    }
}

.swiper-pagination {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -550%);
    .swiper-pagination-bullet {
        height: 2vw;
        width: 2vw;
        padding: .5vw;
        margin: 0 .5vw;
    }
    .swiper-pagination-bullet-active{
        background: $white;
        padding: .5vw;
    }
}








