.cls-2 { transition: fill 2s ease-in-out; }
.red-fill .fill {
	fill: #e85143;
}
.shake {
	animation: shake .2s cubic-bezier(.36,.07,.19,.97) both infinite;
  	transform: translate3d(0, 0, 0);
  	backface-visibility: hidden;
  	perspective: 1000px;
}

@keyframes shake {
	0% {
		transform: translate3d(-1px, 0, 0);
	}
	25% {
		transform: translate3d(-3px, 0, 0);
	}
	50% {
		transform: translate3d(4px, 0, 0);
	}
	75% {
		transform: translate3d(3px, 0, 0);
	}
}

.blue-fill .fill {
	fill: #1579fb;
}
.orange-fill .fill {
	fill: #f59331;
}
.cls-2 {
	transition: all 0.9s ease;
	-webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
}
#background--effect {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.shadow {
	-webkit-filter: drop-shadow( 2px 3px 3px hsla(0, 0%, 0%, 0.5) );
	filter: drop-shadow( 2px 3px 5px hsla(0, 0%, 0%, 0.5) );
}
.avatar {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 40vw;
	width: 100vw;
}
.avatar__image{
	z-index: -1;
	position: absolute;
	width: 20%;
	object-fit: contain;
	margin-top: 10vw;
}
.text__background {
	position: absolute;
	width: 80vw;
	height: 50vw;
}
// .book {
// 	position: absolute;
// 	width: 30vw;
// 	top: 15vw;
// }
// .book__cover {
// 	width: 25vw;
// 	margin-left: 38vw;
// 	margin-top: 2vw;
// 	object-fit: contain;
// }
.avatar__text {
	filter: none;
	-moz-filter: none;
    -ms-filter: none; 
    -o-filter: none;
	position: absolute;
	font-size: 3vw;
	bottom: 0;
	left: 0;
	margin-bottom: 5vw;
	margin-left: 6vw;
}
.placeholder__text {
	margin-left: 2vw;
}

.gevonden__button {
	visibility: hidden;
}
.button {
	z-index: 9999;
}
#background--effect {
overflow: hidden;
}
#confetti {
	position: absolute;
}
.book__placeholder__text {
	position: absolute;
}
.book__text {
	filter: none;
	-moz-filter: none;
    -ms-filter: none; 
    -o-filter: none;
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 3vw;
	bottom: 0;
	left: 0;
	margin-bottom: 16vw;
}



.thermometer {
	position: relative;
	width: 28vw; 
	svg {
		position: absolute;
		width: 10vw;
		left: 59vw;
        transform: translate(-0vw, 100%);
	}
}
