@font-face {
  font-family: 'Francois One';
  src: url("../assets/fonts/FrancoisOne-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/FrancoisOne-Regular.woff2") format("woff2"), url("../assets/fonts/FrancoisOne-Regular.woff") format("woff"), url("../assets/fonts/FrancoisOne-Regular.ttf") format("truetype"), url("../assets/fonts/FrancoisOne-Regular.svg#svgFrancoisOne") format("svg");
  /* Legacy iOS */ }
