<!DOCTYPE html>
<html>

<head>
    <title>KOverview</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/animate.min.css">
</head>

<body data-ng-app="bookModule">
    <div class="animated fadeIn container background--red" data-ng-controller="bookViewController">
        <a href="#0" class="button button--white button__top--1 stop__button">
            <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 841.9 405.3" style="enable-background:new 0 0 841.9 405.3;" xml:space="preserve">
                <path d="M491.3,.5c-73.2-5.7-202.4-2.4-293,18.9S31.7,50.4,3.8,186.8S104.4,410.7,324.7,405c220.3-5.7,405.9,1,479.7-91.8 s21.2-189-10.1-224.7C763,52.7,716.6,20.1,491.3,2.5z"
                />
            </svg>
            <div class="button__placeholder">
                <p>Stop</p>
            </div>
        </a>
        <div class="message__top-overview">
            <svg version="1.0" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 588.1 113.4" style="enable-background:new 0 0 588.1 113.4;" xml:space="preserve">
                <path d="M343.3,0.4c0,0-50.9,0.9-84.8,5.3S122,2.9,63,0.4S0.4,5.7,0.4,46.4s-9.6,68.2,66.4,65.2s104-4.9,167.4,0.3s90.7-4.8,177-2.3 s151.7,9.3,173.5-5.1c3.6-2.3,5.1-76.3,1.4-91.3C583.7,4,574,4.4,520.2,6.3S386.8,1,343.3,0.4z"
                />
            </svg>
            <p>Wat wil je nu doen?</p>
        </div>
        <a href="#0" class="newfriend__button">
                <img src="../public/images/newfriend.svg">
            </a>
        <a href="#0" class="playagain__button" data-ng-click="randomizeArray()">
                <img src="../public/images/nieuweschat.svg">
            </a>

    </div>
    <script>
        var changeClass = document.getElementsByClassName('animated')[0];
        document.getElementsByClassName('stop__button')[0].addEventListener('click', function () {
            changeClass.classList.remove('fadeIn');
            changeClass.classList.add('fadeOut');
            setTimeout(function () {
                window.location.href = "../index.html";
            }, 1000);
        });

        document.getElementsByClassName('newfriend__button')[0].addEventListener('click', function () {
            changeClass.classList.remove('fadeIn');
            changeClass.classList.add('fadeOut');
            setTimeout(function () {
                window.location.href = "avatar.html";
            }, 1000);
        });
        document.getElementsByClassName('playagain__button')[0].addEventListener('click', function () {
            changeClass.classList.remove('fadeIn');
            changeClass.classList.add('fadeOut');
            setTimeout(function () {
                window.location.href = "book.html";
            }, 1000);
        });
    </script>
    <script type="text/javascript" src="../public/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/app/book/module.js"></script>
    <script type="text/javascript" src="../public/javascripts/app/book/bookService.js"></script>
    <script type="text/javascript" src="../public/javascripts/app/book/bookViewController.js"></script>
</body>

</html>