/* Variables */
$red : #e85143;
$orange: #f59331;
$lightblue: #20b6d4;
$green: #23d1b0;
$darkblue: #1579fb;
/* ---- */
/* Main */
* {
 	padding: 0;
 	margin: 0;
 }
 body {
 	text-align: center;
 	font-family: 'Francois One';
 }
 h1 {
 	padding-top: 5vh;
 	font-size: 3rem;
 }
/*------*/