*, html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box; }

.container {
  height: 100vh;
  width: 100vw;
  position: relative; }

.center_logo img {
  margin: 0;
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); }

.bottom {
  position: absolute;
  color: #e85143;
  bottom: 1rem;
  width: 100vw;
  text-align: center; }
