<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Uitleg</title>
</head>

<body>
    <div data-ng-app="bookModule">
            <div data-ng-controller="bookViewController">
                <a href="book.html" data-ng-click="randomizeArray()">Books</a>
        </div>
    </div>

    <!--Nu nog CDN maar moet weg!-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/app/book/module.js"></script>
    <script type="text/javascript" src="../public/javascripts/app/book/bookService.js"></script>
    <script type="text/javascript" src="../public/javascripts/app/book/bookViewController.js"></script>
</body>

</html>