<!DOCTYPE html>
<html>
<head>
	<title>Krookie | Uitleg</title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css">
</head>
<body>
    <div class="container background--red" style="background-color:white">
        <video id="bgvid" playsinline muted>
            <source src="../public/videos/Krookie_Filmpje.mp4" type="video/mp4">
        </video>
        <a href="#" id="video_next" class="button button--white button__bottom--3">
			<svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 841.9 405.3" style="enable-background:new 0 0 841.9 405.3;" xml:space="preserve">
				<path d="M491.3,.5c-73.2-5.7-202.4-2.4-293,18.9S31.7,50.4,3.8,186.8S104.4,410.7,324.7,405c220.3-5.7,405.9,1,479.7-91.8 s21.2-189-10.1-224.7C763,52.7,716.6,20.1,491.3,2.5z"/>
			</svg>
			<div class="button__placeholder">
				<p id="firstButton">Volgende</p>
			</div>
		</a>	
        <a href="class.html" id="next_page" class="button button--red button__bottom--4">
			<svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 841.9 405.3" style="enable-background:new 0 0 841.9 405.3;" xml:space="preserve">
				<path d="M491.3,.5c-73.2-5.7-202.4-2.4-293,18.9S31.7,50.4,3.8,186.8S104.4,410.7,324.7,405c220.3-5.7,405.9,1,479.7-91.8 s21.2-189-10.1-224.7C763,52.7,716.6,20.1,491.3,2.5z"/>
			</svg>
			<div class="button__placeholder">
				<p id="secondButton">Overslaan</p>
			</div>
		</a>	
    </div>
<script type="text/javascript" src="../public/javascripts/tutorial.js"></script>
</body>
</html>