<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>vriendje kiezen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="../public/stylesheets/swiper.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/animate.min.css">
</head>

<body>
    <div class=" animated fadeInLeft container background--red" data-ng-app="bookModule" data-ng-controller="filterController">

        <div class="message__top">
            <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 841.9 113.4" style="enable-background:new 0 0 841.9 113.4;" xml:space="preserve">
                <path d="M491.5,0.4c0,0-72.9,0.9-121.5,5.3S174.4,2.9,89.9,0.4S0.1,5.7,0.1,46.4s-13.7,68.2,95.1,65.2s149-4.9,239.9,0.3 s130-4.8,253.6-2.3c123.6,2.5,217.4,9.3,248.6-5.1c5.1-2.3,7.3-76.3,2-91.3c-3.2-9.2-17.1-8.8-94.2-6.9S553.8,1,491.5,0.4z"
                />
            </svg>
            <p>Kies een vriendje en ga samen op reis!</p>
        </div>


        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Swiper -->
        <div class="avatar__swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" value="2">
                        <div class="animation_container">
                            <div class="circle1-leaf">
                                <img src="../public/images/Blad_2.svg" />
                            </div>
                            <div class="circle2-leaf">
                                <img src="../public/images/Blad_1.svg" />
                            </div>
                            <div class="circle3-leaf">
                                <img src="../public/images/Blad_3.svg" />
                            </div>
                            <div class="circle4-leaf">
                                <img src="../public/images/Blad_1.svg" />
                            </div>
                            <div class="circle5-leaf">
                                <img src="../public/images/Blad_2.svg" />
                            </div>
                            <div class="circle6-leaf">
                                <img src="../public/images/Blad_3.svg" />
                            </div>
                            <div class="circle7-leaf">
                                <img src="../public/images/Blad_2.svg" />
                            </div>
                            <div class="circle8-leaf">
                                <img src="../public/images/Blad_1.svg" />
                            </div>
                        </div>
                        <div class="avatar">
                            <img class="selected_avatar" src="../public/images/Aboriginal.svg">
                        </div>
                        <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 841.9 241" style="enable-background:new 0 0 841.9 241;" xml:space="preserve">
                            <path d="M493.2,0.9c0,0-73.1,2-121.8,11.5S175.4,6.3,90.6,0.9S0.6,12.4,0.6,100.4s-13.8,136.7,95.4,130.3s149.4-10.7,240.5,0.6 c91.1,11.2,130.3,0.4,254.3,5.8c124,5.4,206.6,11.7,236.3-29.7s7.2-134.9,0-179.1c-3.2-19.9-2.1-19.1-79.5-14.8S555.7,2.1,493.2,0.9 z"
                            />
                        </svg>
                        <p>Bindi</p>
                    </div>
                    <div class="swiper-slide" value="1">
                        <div class="animation_container">
                            <div class="circle1-cuffs">
                                <img src="../public/images/Handboeien_1.svg" />
                            </div>
                            <div class="circle2-cuffs">
                                <img src="../public/images/Handboeien_1.svg" />
                            </div>
                            <div class="circle3-cuffs">
                                <img src="../public/images/Handboeien_2.svg" />
                            </div>
                            <div class="circle4-cuffs">
                                <img src="../public/images/Handboeien_1.svg" />
                            </div>
                            <div class="circle5-cuffs">
                                <img src="../public/images/Handboeien_2.svg" />
                            </div>
                            <div class="circle6-cuffs">
                                <img src="../public/images/Handboeien_2.svg" />
                            </div>
                            <div class="circle7-cuffs">
                                <img src="../public/images/Handboeien_1.svg" />
                            </div>
                            <div class="circle8-cuffs">
                                <img src="../public/images/Handboeien_2.svg" />
                            </div>
                        </div>
                        <div class="avatar">
                            <img class="selected_avatar" src="../public/images/Boef.svg">
                        </div>
                        <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 841.9 241" style="enable-background:new 0 0 841.9 241;" xml:space="preserve">
                            <path d="M493.2,0.9c0,0-73.1,2-121.8,11.5S175.4,6.3,90.6,0.9S0.6,12.4,0.6,100.4s-13.8,136.7,95.4,130.3s149.4-10.7,240.5,0.6 c91.1,11.2,130.3,0.4,254.3,5.8c124,5.4,206.6,11.7,236.3-29.7s7.2-134.9,0-179.1c-3.2-19.9-2.1-19.1-79.5-14.8S555.7,2.1,493.2,0.9 z"
                            />
                        </svg>
                        <p>Sven</p>
                    </div>
                    <div class="swiper-slide" value="3">
                        <div class="animation_container">
                            <div class="circle1">
                                <img src="../public/images/Kippebeentje.svg" />
                            </div>
                            <div class="circle2">
                                <img src="../public/images/Beentje.svg" />
                            </div>
                            <div class="circle3">
                                <img src="../public/images/Kippebeentje.svg" />
                            </div>
                            <div class="circle4">
                                <img src="../public/images/Beentje.svg" />
                            </div>
                            <div class="circle5">
                                <img src="../public/images/Kippebeentje.svg" />
                            </div>
                            <div class="circle6">
                                <img src="../public/images/Beentje.svg" />
                            </div>
                            <div class="circle7">
                                <img src="../public/images/Kippebeentje.svg" />
                            </div>
                            <div class="circle8">
                                <img src="../public/images/Beentje.svg" />
                            </div>
                        </div>
                        <div class="avatar">
                            <img class="selected_avatar" src="../public/images/Hond.svg">
                        </div>
                        <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 841.9 241" style="enable-background:new 0 0 841.9 241;" xml:space="preserve">
                            <path d="M493.2,0.9c0,0-73.1,2-121.8,11.5S175.4,6.3,90.6,0.9S0.6,12.4,0.6,100.4s-13.8,136.7,95.4,130.3s149.4-10.7,240.5,0.6 c91.1,11.2,130.3,0.4,254.3,5.8c124,5.4,206.6,11.7,236.3-29.7s7.2-134.9,0-179.1c-3.2-19.9-2.1-19.1-79.5-14.8S555.7,2.1,493.2,0.9 z"
                            />
                        </svg>
                        <p>Woefie</p>
                    </div>
                    <div class="swiper-slide" value="4">
                        <div class="animation_container">
                            <div class="circle1">
                                <img src="../public/images/Bal_1.svg" />
                            </div>
                            <div class="circle2">
                                <img src="../public/images/Bal_2.svg" />
                            </div>
                            <div class="circle3">
                                <img src="../public/images/Bal_3.svg" />
                            </div>
                            <div class="circle4">
                                <img src="../public/images/Bal_4.svg" />
                            </div>
                            <div class="circle5">
                                <img src="../public/images/Bal_1.svg" />
                            </div>
                            <div class="circle6">
                                <img src="../public/images/Bal_2.svg" />
                            </div>
                            <div class="circle7">
                                <img src="../public/images/Bal_3.svg" />
                            </div>
                            <div class="circle8">
                                <img src="../public/images/Bal_4.svg" />
                            </div>
                        </div>
                        <div class="avatar">
                            <img class="selected_avatar" src="../public/images/Clown.svg">
                        </div>
                        <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 841.9 241" style="enable-background:new 0 0 841.9 241;" xml:space="preserve">
                            <path d="M493.2,0.9c0,0-73.1,2-121.8,11.5S175.4,6.3,90.6,0.9S0.6,12.4,0.6,100.4s-13.8,136.7,95.4,130.3s149.4-10.7,240.5,0.6 c91.1,11.2,130.3,0.4,254.3,5.8c124,5.4,206.6,11.7,236.3-29.7s7.2-134.9,0-179.1c-3.2-19.9-2.1-19.1-79.5-14.8S555.7,2.1,493.2,0.9 z"
                            />
                        </svg>
                        <p>Wally</p>
                    </div>
                    <div class="swiper-slide" value="8">
                        <div class="animation_container">
                            <div class="circle1-sport">
                                <img src="../public/images/Basketbal.svg" />
                            </div>
                            <div class="circle2-sport">
                                <img src="../public/images/Rugby.svg" />
                            </div>
                            <div class="circle3-sport">
                                <img src="../public/images/Voetbal.svg" />
                            </div>
                            <div class="circle4-sport">
                                <img src="../public/images/Volleybal.svg" />
                            </div>
                            <div class="circle5-sport">
                                <img src="../public/images/Basketbal.svg" />
                            </div>
                            <div class="circle6-sport">
                                <img src="../public/images/Rugby.svg" />
                            </div>
                            <div class="circle7-sport">
                                <img src="../public/images/Voetbal.svg" />
                            </div>
                            <div class="circle8-sport">
                                <img src="../public/images/Volleybal.svg" />
                            </div>
                        </div>
                        <div class="avatar">
                            <img class="selected_avatar" src="../public/images/Loper.svg">
                        </div>
                        <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 841.9 241" style="enable-background:new 0 0 841.9 241;" xml:space="preserve">
                            <path d="M493.2,0.9c0,0-73.1,2-121.8,11.5S175.4,6.3,90.6,0.9S0.6,12.4,0.6,100.4s-13.8,136.7,95.4,130.3s149.4-10.7,240.5,0.6 c91.1,11.2,130.3,0.4,254.3,5.8c124,5.4,206.6,11.7,236.3-29.7s7.2-134.9,0-179.1c-3.2-19.9-2.1-19.1-79.5-14.8S555.7,2.1,493.2,0.9 z"
                            />
                        </svg>
                        <p>Jamie</p>
                    </div>
                    <div class="swiper-slide" value="7">
                        <div class="animation_container">
                            <div class="circle1-war">
                                <img src="../public/images/Geld.svg" />
                            </div>
                            <div class="circle2-war">
                                <img src="../public/images/Bom.svg" />
                            </div>
                            <div class="circle3-war">
                                <img src="../public/images/Zwaard.svg" />
                            </div>
                            <div class="circle4-war">
                                <img src="../public/images/Bom.svg" />
                            </div>
                            <div class="circle5-war">
                                <img src="../public/images/Geld.svg" />
                            </div>
                            <div class="circle6-war">
                                <img src="../public/images/Bom.svg" />
                            </div>
                            <div class="circle7-war">
                                <img src="../public/images/Geld.svg" />
                            </div>
                            <div class="circle8-war">
                                <img src="../public/images/Zwaard.svg" />
                            </div>
                        </div>
                        <div class="avatar">
                            <img class="selected_avatar" src="../public/images/Piraat.svg">
                        </div>
                        <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 841.9 241" style="enable-background:new 0 0 841.9 241;" xml:space="preserve">
                            <path d="M493.2,0.9c0,0-73.1,2-121.8,11.5S175.4,6.3,90.6,0.9S0.6,12.4,0.6,100.4s-13.8,136.7,95.4,130.3s149.4-10.7,240.5,0.6 c91.1,11.2,130.3,0.4,254.3,5.8c124,5.4,206.6,11.7,236.3-29.7s7.2-134.9,0-179.1c-3.2-19.9-2.1-19.1-79.5-14.8S555.7,2.1,493.2,0.9 z"
                            />
                        </svg>
                        <p>Jack</p>
                    </div>
                    <div class="swiper-slide" value="5">
                        <div class="animation_container">
                            <div class="circle1-flower">
                                <img src="../public/images/Bloempje_1.svg" />
                            </div>
                            <div class="circle2-flower">
                                <img src="../public/images/Bloempje_2.svg" />
                            </div>
                            <div class="circle3-flower">
                                <img src="../public/images/Bloempje_3.svg" />
                            </div>
                            <div class="circle4-flower">
                                <img src="../public/images/Bloempje_1.svg" />
                            </div>
                            <div class="circle5-flower">
                                <img src="../public/images/Bloempje_3.svg" />
                            </div>
                            <div class="circle6-flower">
                                <img src="../public/images/Bloempje_1.svg" />
                            </div>
                            <div class="circle7-flower">
                                <img src="../public/images/Bloempje_2.svg" />
                            </div>
                            <div class="circle8-flower">
                                <img src="../public/images/Bloempje_3.svg" />
                            </div>
                        </div>
                        <div class="avatar">
                            <img class="selected_avatar" src="../public/images/Hippie.svg">
                        </div>
                        <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 841.9 241" style="enable-background:new 0 0 841.9 241;" xml:space="preserve">
                            <path d="M493.2,0.9c0,0-73.1,2-121.8,11.5S175.4,6.3,90.6,0.9S0.6,12.4,0.6,100.4s-13.8,136.7,95.4,130.3s149.4-10.7,240.5,0.6 c91.1,11.2,130.3,0.4,254.3,5.8c124,5.4,206.6,11.7,236.3-29.7s7.2-134.9,0-179.1c-3.2-19.9-2.1-19.1-79.5-14.8S555.7,2.1,493.2,0.9 z"
                            />
                        </svg>
                        <p>Betty</p>
                    </div>
                    <div class="swiper-slide" value="6">
                        <div class="animation_container">
                            <div class="circle1">
                                <img src="../public/images/Ster_1.svg" />
                            </div>
                            <div class="circle2">
                                <img src="../public/images/Ster_3.svg" />
                            </div>
                            <div class="circle3">
                                <img src="../public/images/Ster_1.svg" />
                            </div>
                            <div class="circle4">
                                <img src="../public/images/Ster_2.svg" />
                            </div>
                            <div class="circle5">
                                <img src="../public/images/Ster_1.svg" />
                            </div>
                            <div class="circle6">
                                <img src="../public/images/Ster_2.svg" />
                            </div>
                            <div class="circle7">
                                <img src="../public/images/Ster_3.svg" />
                            </div>
                            <div class="circle8">
                                <img src="../public/images/Ster_2.svg" />
                            </div>
                        </div>
                        <div class="avatar">
                            <img src="../public/images/Fee.svg">
                        </div>
                        <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 841.9 241" style="enable-background:new 0 0 841.9 241;" xml:space="preserve">
                            <path d="M493.2,0.9c0,0-73.1,2-121.8,11.5S175.4,6.3,90.6,0.9S0.6,12.4,0.6,100.4s-13.8,136.7,95.4,130.3s149.4-10.7,240.5,0.6 c91.1,11.2,130.3,0.4,254.3,5.8c124,5.4,206.6,11.7,236.3-29.7s7.2-134.9,0-179.1c-3.2-19.9-2.1-19.1-79.5-14.8S555.7,2.1,493.2,0.9 z"
                            />
                        </svg>
                        <p>Fee</p>
                    </div>
                </div>
            </div>
        </div>




        <!--Button for Swiper - Right-->
        <a href="#" class="button__small button__small--right">
            <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 649.1 595.3" style="enable-background:new 0 0 649.1 595.3;" xml:space="preserve">
                <path class="st0" d="M327.5,0c-58.3,0.4-205.8,0.6-266,101.6S1.2,303,1.2,303s-21.4,183.8,101,243.4s235,48.5,293.2,48.5 s235-38.8,246.6-149.5s17.5-312.7-60.2-372.9S393.6-0.5,327.5,0z"
                />
            </svg>
            <div class="button__arrow button__arrow--right">
                <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 432.1 595.3" style="enable-background:new 0 0 432.1 595.3;" xml:space="preserve">
                    <path class="st0" d="M215.3,295c0,0,131.7-101.2,167.7-137.2s74.8-47.1,26.3-98.4s-88.7-95.6-169.1-15.2s-104,95.6-140,123.4 S4.6,253.4,4.6,263.1c0,9.7-15.2,27.7,9.7,54.1s137.2,148.3,164.9,177.4s105.3,88,127.5,98.4s44.4-16.6,66.5-49.9 c22.2-33.3,29.9-43.1,34.7-54.1c6-13.9-11.1-44.4-52.7-70.7C313.7,392,215.5,308.9,215.3,295z"
                    />
                </svg>
            </div>
        </a>

        <!--Button for Swiper - Left-->
        <a href="#" class="button__small button__small--left">
            <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 649.1 595.3" style="enable-background:new 0 0 649.1 595.3;" xml:space="preserve">
                <path class="st0" d="M327.5,0c-58.3,0.4-205.8,0.6-266,101.6S1.2,303,1.2,303s-21.4,183.8,101,243.4s235,48.5,293.2,48.5 s235-38.8,246.6-149.5s17.5-312.7-60.2-372.9S393.6-0.5,327.5,0z"
                />
            </svg>
            <div class="button__arrow button__arrow--left">
                <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 432.1 595.3" style="enable-background:new 0 0 432.1 595.3;" xml:space="preserve">
                    <path class="st0" d="M215.3,295c0,0,131.7-101.2,167.7-137.2s74.8-47.1,26.3-98.4s-88.7-95.6-169.1-15.2s-104,95.6-140,123.4 S4.6,253.4,4.6,263.1c0,9.7-15.2,27.7,9.7,54.1s137.2,148.3,164.9,177.4s105.3,88,127.5,98.4s44.4-16.6,66.5-49.9 c22.2-33.3,29.9-43.1,34.7-54.1c6-13.9-11.1-44.4-52.7-70.7C313.7,392,215.5,308.9,215.3,295z"
                    />
                </svg>
            </div>
        </a>

        <!--Button - Terug-->
        <a href="#0" class="button button--white button__bottom--2 button__reading-skill">
            <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 841.9 405.3" style="enable-background:new 0 0 841.9 405.3;" xml:space="preserve">
                <path d="M491.3,.5c-73.2-5.7-202.4-2.4-293,18.9S31.7,50.4,3.8,186.8S104.4,410.7,324.7,405c220.3-5.7,405.9,1,479.7-91.8 s21.2-189-10.1-224.7C763,52.7,716.6,20.1,491.3,2.5z"
                />
            </svg>
            <div class="button__placeholder">
                <p>Terug</p>
            </div>
        </a>
        <!--Button - Go-->
        <a href="#0" class="button button--white button__bottom--3 button__tutorial" id="clicker1" data-ng-click="storeCategory(category)">
            <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 841.9 405.3" style="enable-background:new 0 0 841.9 405.3;" xml:space="preserve">
                <path d="M491.3,.5c-73.2-5.7-202.4-2.4-293,18.9S31.7,50.4,3.8,186.8S104.4,410.7,324.7,405c220.3-5.7,405.9,1,479.7-91.8 s21.2-189-10.1-224.7C763,52.7,716.6,20.1,491.3,2.5z"
                />
            </svg>
            <div class="button__placeholder">
                <p>Go</p>
            </div>
            <div class="hidden" data-ng-app="bookModule" id="clicker2" data-ng-controller="bookViewController">
                <a href="book.html" data-ng-click="randomizeArray()"></a>
            </div>
        </a>

        <script type="text/javascript" src="../public/javascripts/jquery-3.2.1.js"></script>
        <script src="../public/javascripts/swiper.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 1,
                pagination: '.swiper-pagination',
                paginationClickable: true,
                nextButton: '.button__small--right',
                prevButton: '.button__small--left',
                spaceBetween: 30,
                effect: 'coverflow',
                coverflow: {
                    rotate: 120,
                    stretch: 0,
                    depth: 1000,
                    modifier: 1,
                    slideShadows: false
                },
                speed: 1200,
                loop: true,
            });
            var changeClass = $('.animated');
            $('.button__reading-skill').click(function () {
                changeClass.removeClass('fadeInLeft').addClass('fadeOutRight');
                setTimeout(function () {
                    window.location.href = "class.html";
                }, 1000);
            });
            $('.button__tutorial').click(function () {
                console.log('test cuntieboy');
                $('#clicker2').find('a').click();
                changeClass.removeClass('fadeInLeft').addClass('fadeOutRight');
                setTimeout(function () {
                    window.location.href = "book.html";
                }, 1000);
            });
        </script>

        <script type="text/javascript" src="../public/javascripts/jquery-3.2.1.js"></script>
        <script type="text/javascript" src="../public/javascripts/animations.js"></script>
        <script type="text/javascript" src="../public/javascripts/angular.min.js"></script>
        <script type="text/javascript" src="../public/javascripts/app/book/module.js"></script>
        <script type="text/javascript" src="../public/javascripts/app/filter/filterService.js"></script>
        <script type="text/javascript" src="../public/javascripts/app/filter/filterController.js"></script>
        <script type="text/javascript" src="../public/javascripts/app/book/bookService.js"></script>
        <script type="text/javascript" src="../public/javascripts/app/book/bookViewController.js"></script>
        <script type="text/javascript" src="../public/javascripts/skip-button.js"></script>
</body>

</html>