<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Swiper demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/animate.min.css">

</head>

<body data-ng-app="bookModule">
    <div class="animated fadeInLeft container background--red" data-ng-controller="bookViewController" data-ng-model="cover">
        <img class="bookcover" ng-src="{{cover}}">

        <div class="message__book">
            <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 841.9 113.4" style="enable-background:new 0 0 841.9 113.4;" xml:space="preserve">
                <path d="M491.5,0.4c0,0-72.9,0.9-121.5,5.3S174.4,2.9,89.9,0.4S0.1,5.7,0.1,46.4s-13.7,68.2,95.1,65.2s149-4.9,239.9,0.3 s130-4.8,253.6-2.3c123.6,2.5,217.4,9.3,248.6-5.1c5.1-2.3,7.3-76.3,2-91.3c-3.2-9.2-17.1-8.8-94.2-6.9S553.8,1,491.5,0.4z"
                />
            </svg>
            <p>Zou je dit boek willen lezen?</p>
        </div>

        <a href="#0" class="button__small book__yes">
            <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 649.1 595.3" style="enable-background:new 0 0 649.1 595.3;" xml:space="preserve">
                <path class="st0" d="M327.5,0c-58.3,0.4-205.8,0.6-266,101.6S1.2,303,1.2,303s-21.4,183.8,101,243.4s235,48.5,293.2,48.5 s235-38.8,246.6-149.5s17.5-312.7-60.2-372.9S393.6-0.5,327.5,0z"
                />
            </svg>
            <div class="button__arrow button__arrow--left">
                <p>Ja</p>
            </div>
        </a>

        <a href="#0" class="button__small book__no">
            <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 649.1 595.3" style="enable-background:new 0 0 649.1 595.3;" xml:space="preserve">
                <path class="st0" d="M327.5,0c-58.3,0.4-205.8,0.6-266,101.6S1.2,303,1.2,303s-21.4,183.8,101,243.4s235,48.5,293.2,48.5 s235-38.8,246.6-149.5s17.5-312.7-60.2-372.9S393.6-0.5,327.5,0z"
                />
            </svg>
            <div class="button__arrow button__arrow--right">
                <p>Nee</p>
            </div>
        </a>

        <script type="text/javascript" src="../public/javascripts/angular.min.js"></script>
        <script type="text/javascript" src="../public/javascripts/app/book/module.js"></script>
        <script type="text/javascript" src="../public/javascripts/app/book/bookService.js"></script>
        <script type="text/javascript" src="../public/javascripts/app/book/bookViewController.js"></script>
    </div>
    <script src="../public/javascripts/jquery-3.2.1.js"></script>
    <script>
        var changeClass = $('.animated');
        $('.button__small').click(function () {
            changeClass.removeClass('fadeInLeft').addClass('fadeOutRight');
            setTimeout(function () {
                window.location.href = "overview.html";
            }, 1000);
        });
    </script>
</body>

</html>