/* Variables */
$red : #e85143;
$orange: #f59331;
$lightblue: #20b6d4;
$green: #23d1b0;
$darkblue: #1579fb;
/* ---- */

/* Main */
* {
 	padding: 0;
 	margin: 0;
 }
 body {
 	text-align: center;
 	font-family: 'Francois One';
 }
 h1 {
 	padding-top: 5vh;
 	font-size: 3rem;
 }
/*------*/
/* Logo's */
.logo {
	padding-top: 10vh;
	width: 100vw;
	img {
		padding-top: 5vh;
		width: 30vw;
	}
	.white {
		background-color: $red;
		width: 50%;
		margin-left: 25%;
		padding-bottom: 3vh;
		margin-bottom: 10vh;
	}
}
.logo-blocks {
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
/* ------ */
/* Media Queries */
@media screen and (max-width: 480px) {
	.logo {
		img {
		width: 50vw;
		}
		.white {
			width: 60%;
			margin-left: 20%;
		}
	}
}
/* ------------- */