<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Swiper demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/css/swiper.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- jQuery -->
    <script type="text/javascript" src="../js/jquery-3.2.1.js"></script>
    
</head>
<body>
    
 <div class="animation_container">
    <div class="circle1">
        <img src="../assets/images/Beentje.svg"/>
    </div>
    <div class="circle2">
        <img src="../assets/images/Beentje.svg"/>
    </div>
    <div class="circle3">
        <img src="../assets/images/Beentje.svg"/>
    </div>
    <div class="circle4">
        <img src="../assets/images/Beentje.svg"/>
    </div>
    <div class="circle5">
        <img src="../assets/images/Beentje.svg"/>
    </div>
    <div class="circle6">
        <img src="../assets/images/Beentje.svg"/>
    </div>
    <div class="circle7">
        <img src="../assets/images/Beentje.svg"/>
    </div>
    <div class="circle8">
        <img src="../assets/images/Beentje.svg"/>
    </div>
</div>
<script>
</script>

</body>
</html>
