.cls-2 { transition: fill 2s ease-in-out; }
.red-fill .fill {
	fill: #e85143;
}
.blue-fill .fill {
	fill: #1579fb;
}
.orange-fill .fill {
	fill: #f59331;
}
.cls-2 {
	transition: all 1.2s;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}
#container {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}